/* HomePage */

.homepage-container {
    margin-left: 10rem;
    margin-right: 10rem;
}

.footer {
    position: absolute;
    bottom: 0;
    display: flex;
    gap: 10%;
    padding-left: 5%;
    padding-bottom: 2%;
    max-width: fit-content;
}

/* NavBar Section */

.header {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 50px;
}

.dropdown:hover {
    transform: scale(1.1);

}


.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    padding-right: 3%;
    margin-top: 10%;
}

.nav:hover {
    opacity: 0.1
}

.navbar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: fixed;
    top: 0;
    /* Ensure it's at the top */
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Ensure it’s on top of other elements */
    background-color: white;
    /* Adjust as needed */
}

.navbarHomepage-container {
    position: fixed;
    top: 0;
    /* Ensure it's at the top */
    left: 0;
    width: 100%;
    z-index: 1000;
    /* Ensure it’s on top of other elements */
    background-color: white;
    /* Adjust as needed */
}



/* About Section */
.about-section {
    height: 100vh;
    padding-top: 70%;
    display: flex;
    gap: 53px;
}

.contour-image {
    height: 80%;
    padding-top: 40px;
}

.about-paragraph {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 80px;

}

.column-photo {
    margin-bottom: 10%;
}


.arrow-dropdown {
    position: absolute;
    left: 50%
}

.imageURL {
    position: absolute;
    bottom: 80%;
    left: 5%
}

/* ProjectsList Section */
.image {
    cursor: pointer;
}

.image:hover {
    transform: scale(1.1);
}


/* Email Section */
.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.email-envelope:hover {
    opacity: 0.3;
}

.email-address {
    color: black;
}

.email-address:hover {
    opacity: 0.3;
}

/* Project pages */
.main-container {
    margin-left: 10rem;
    margin-right: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content-row {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.description {
    flex: 1;
    max-width: 80%;
    margin-left: 80px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

.cirlces-container {
    display: inline-flex;
    gap: 10px;
    margin-top: 20px;
}

.nextProject {
    position: absolute;
    right: 0;
    padding: 5rem;
}

.nextProject:hover {
    opacity: 0.6;
    cursor: pointer
}

.images-container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
    margin-top: 5rem;

}

/* BackToHome */
.backToHome:hover {
    transform: scale(1.2);
}