/* HomePage */

.homepage-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-left: 20rem;
    margin-right: 20rem;
}

.full-name-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100vh;
}

.full-name {
    display: flex;
    gap: 10%;
    padding-bottom: 3%;
    max-width: fit-content;
}


/* NavBar Section */


.dropdown:hover {
    transform: scale(1.1);

}

.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    padding-right: 3%;
    margin-top: 10%;
}



.nav:hover {
    opacity: 0.1
}


.navbar-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: white;
    display: flex;
    padding: 3rem 6rem;
    justify-content: space-between;
    box-sizing: border-box;
    /* Includes padding in width calculation */

}


/* About Section */

.about-section {
    height: 100vh;
    display: flex;
    gap: 3rem;
    padding-top: 10rem;
}

.contour-image {
    padding-top: 60px;
    height: 70%;
}

.about-paragraph {
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 60px;
}

.column-photo {
    margin-bottom: 10%;
}

.arrow-dropdown {
    position: absolute;
    left: 50%;
}

.imageURL {
    position: absolute;
    bottom: 80%;
    left: 5%
}

/* ProjectsList Section */

.title {
    font-family: Helvetica;
    text-align: center;
    font-size: 100px;

}

#projectsId {
    height: 100vh;
}

.projects-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 55px;
}

.projects-column {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.image img{
    width: 90%;
    height: auto; 
    
}

.image {
    cursor: pointer;
   
}

.image:hover {
    transform: scale(1.1);
}


.image-title,
.project-title {
    font-family: Helvetica;
}

.project-description {
    font-family: Helvetica;
    font-size: 20px;
}

/* Email Section */
.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.email-envelope:hover {
    opacity: 0.3;
}

.email-address {
    color: black;
    font-family: Helvetica;
}

.email-address:hover {
    opacity: 0.3;
}

/* Project pages */
.main-container {
    margin: 15rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content-row {
    display: flex;
    flex-direction: row;
    gap: 10rem;
}

.description {
    flex: 1;
    max-width: 80%;
    margin-left: 80px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

.cirlces-container {
    display: inline-flex;
    gap: 10px;
    margin-top: 20px;
}

.nextProject {
    position: absolute;
    right: 0;
    padding: 5rem;
}

.nextProject:hover {
    opacity: 0.6;
    cursor: pointer
}

.images-container {
    display: flex;
    flex-direction: column;
    gap: 10rem;
    align-items: center;
    margin-top: 5rem;

}

/* BackToHome */
.backToHome:hover {
    transform: scale(1.2);
}