/* Sections - to ensure every page takes up whole space  */

.homepage-section {
    height: 100vh;
    margin-bottom: 20%;
}

.sections {
    height: 100vh;
    padding-top: 80px;
}

/* HomePage Section */

.header {
    display: flex;
    justify-content: flex-end;
    padding: 60px;
}


.dropdown:hover {
    transform: scale(1.1);
    /* opacity: 0.1 */

}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    gap: 10%;
    padding-left: 7%;
    padding-bottom: 2%
}

.dropdown-content {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-end;
    padding-right: 3%;
}

.nav:hover {
    opacity: 0.1
}


/* About Section */
#aboutId {
    display: flex;
    gap: 53px;

}

.contour-image {
    height: 80%;

}

.about-right {
    font-family: sans-serif;
    font-weight: lighter;
    font-size: 85px;
}

.column-photo {
    margin-bottom: 10%;
}


/* ProjectsList Section */
.image {
    cursor: pointer;
}

.image:hover{
    opacity: 0.3;
}


/* Email Section */
.email {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

/* Project pages */
.main-container {
    margin-left: 10rem;
    margin-right: 10rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

.content-row {
    display:flex;
    flex-direction: row;
    gap: 10rem;
}

.description {
    flex:1;
    max-width: 80%;
    margin-left: 80px;
}

.circle {
    width: 30px;
    height: 30px;
    background-color: black;
    border-radius: 50%;
}

.cirlces-container {
    display: inline-flex;
    gap: 10px;
    margin-top:20px;
}

.nextProject{
    position:absolute;
    right:0;
    padding:5rem

}

.nextProject:hover{
    opacity: 0.6;
    cursor: pointer

}

.images-container{
    display:flex;
    flex-direction: column;
    gap:10rem;
    align-items: center;
    margin-top: 5rem;

}

/* BackToHome */
.backToHome:hover{
    transform: scale(1.2);
}

